div{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}
section{
    background-color: #323031;
}
a{
    color:rgb(136, 17, 41) ;
}
/* a:hover {
    border: 5rem solid rgb(136, 17, 41);
} */
p{
    font-size: 1.3rem;
    color: #C1BDB3;
}